.input-group{
    width: 100%;
    margin: auto;
    display:flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.user{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: auto;
    color: white;
  
}
.card{
    box-shadow: rgba(0,0,0,0.5) 0px 0px 10px;
    background-color:#fef9f8;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
    text-align: center;
    color: #0d0d0d;
}
#avatar {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 10rem;
}
#profile{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#userRepository{
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #fef9f8;
    color: #0d0d0d;
}
#name{
    color:#af3a12;
}
h1{
    color:#ef9273;
}
h3{
    color:#ef9273;
}