.input-group{
    width: 100%;
    margin: auto;
    display:flex;
    justify-content: center;
    margin-top: 10rem;
    margin-bottom: 2rem;
}
.user{
    background-color:rgb(120, 142, 145);
    display:flex;
    justify-content: center;
    align-items: center;
    padding: auto;
    color: white;
  
}
.card{
    box-shadow: rgba(0,0,0,0.5) 0px 0px 10px;
    background-color:rgb(120, 142, 145);
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
    text-align: center;
}